<h2 mat-dialog-title > {{data.type==0?'Request':'Return'}} Book </h2>
<mat-dialog-content>
<div>
  <div>Issue Date</div>
  <div>{{data.issueData.issueDate}}</div>
</div>
<div  >
  <div>
    Due Date
  </div>
  <div>
    {{data.issueData.expiryDate}}
  </div>
</div>
  <div *ngIf="data.type==1" >
    <div>
      Return Date
    </div>
    <div>
      {{data.issueData.returnDate}}
    </div>
  </div>
  <div *ngIf="data.issueData.fine" >
    <div>Fine</div>
    <div>{{data.issueData.fine}}</div>
  </div>
</mat-dialog-content>
<div class="footer">
  <button mat-stroked-button color="secondary" mat-dialog-close="true" >Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" >Accept</button>
</div>
