<div class="container">
    <div class="section-header" (click)="toggleCollapse()">
        {{ sectionTitle }}
    </div>
    <!-- <div class="spinner-div" *ngIf="filteredList.length <= 0">
    <mat-spinner></mat-spinner>
  </div> -->
    <div class="grid" [ngClass]="collapsed ? 'collapsed' : ''" *ngIf="dataType == 0 && filteredList.length > 0">
        <app-book-list-item *ngFor="let book of filteredList" [bookData]="book" [deleteCallback]="deleteCallback">
        </app-book-list-item>
    </div>
    <div class="grid" [ngClass]="collapsed ? 'collapsed' : ''" *ngIf="dataType == 1 && filteredList.length > 0">
        <app-issue-list-item *ngFor="let book of filteredList" [issueData]="book"></app-issue-list-item>
    </div>
    <div class="pagination-footer" [ngClass]="collapsed ? 'collapsed' : ''" *ngIf="this.itemList.length > this.maxBookCount">
        <button mat-flat-button color="primary" (click)="modifyPagination(-1)" [disabled]="this.currentPage == 0">
      < </button> Page:{{ currentPage + 1 }} of {{ getMaxPages() }}
        <button mat-flat-button color="primary" (click)="modifyPagination(1)" [disabled]="this.currentPage + 1 >= this.getMaxPages()">
          >
        </button>
    </div>
</div>