:host(app-signup) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgba(2555, 255, 255, 0.432);
  backdrop-filter: blur(30px);
  padding: 20px !important;
  border-radius: 20px;
}
.container form {
  min-width: 500px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  column-gap: 20px;
}
.container {
  color: black;
}
.footer {
  display: flex;
  justify-content: space-between;
}
